Interactive mode not prompting for version

In the main readme, there is an animation showing that the first step allows picking the version (patch/minor/major): 

![image](https://raw.githubusercontent.com/release-it/release-it/master/docs/assets/release-it-interactive.gif)

I tried to add this to my `package.json`:

```js
  "scripts": {
    "release": "dotenv release-it --only-version"
  },
```

It never prompts me for the version - what am I missing?


I think you missed these docs and two dashes ;-)

https://github.com/release-it/release-it/blob/master/docs/environment-variables.md#dotenv

Probably a duplicate of the previous issue #802

Actually, I saw those docs and tried this as well:

```js
  "scripts": {
    "release": "dotenv release-it -- --only-version"
  }
```

But I am still not getting a prompt? I was expecting that by default I would get the version prompt, but I am getting all the others prompts but the version. It seems like it keeps picking the version automacally?

I am trying from a Windows machine using VS Code.

The issue with the npm script is that `npm` itself also requires `--` to add arguments to the executable. According to `dotenv`, it should be `dotenv -- release-it --only-version`

However, that still wouldn't explain why you don't even see the version prompt. I'd say there must be some kind of configuration or environment variable that triggers this. Is there a `package.json` that has `release-it` config, a `.release-it.json` file, or an [environment variable](https://github.com/watson/ci-info#supported-ci-tools) that makes release-it thinks it's on a CI environment?

I also tried `dotenv -- release-it --only-version` and got the same result. 

You can see the npm package's repo here for details: https://github.com/Avansai/resolve-accept-language

Here is what I have in terms of environment files:

release-it.json:

```js
{
  "git": {
    "commitMessage": "🔖 release v${version}"
  },
  "github": {
    "release": true
  },
  "hooks": {
    "before:init": ["npm run build"],
    "after:release": "echo 🎉 Successfully released ${name} v${version} to ${repo.repository}."
  },
  "plugins": {
    "@release-it/conventional-changelog": {
      "preset": "angular",
      "infile": "CHANGELOG.md"
    }
  }
}
```

package.json

```js
{
  "name": "resolve-accept-language",
  "version": "1.0.30",
  "description": "Resolve the preferred locale based on the value of an `Accept-Language` HTTP header.",
  "author": "Avansai (https://avansai.com)",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/Avansai/resolve-accept-language.git"
  },
  "main": "lib/resolve-accept-language.js",
  "types": "lib/resolve-accept-language.d.ts",
  "scripts": {
    "build": "npm run lint && npm test && rm -Rf ./lib && tsc",
    "test": "jest --coverage",
    "lint": "eslint . --fix",
    "prettier-check": "prettier --check .",
    "prettier-fix": "prettier --write .",
    "release": "dotenv release-it -- --only-version"
  },
  "license": "MIT",
  "files": [
    "lib"
  ],
  "keywords": [
    "accept-language",
    "RFC 4647",
    "locale",
    "language tags",
    "RFC 4646",
    "BCP 47",
    "RFC 2616",
    "resolve",
    "detect",
    "intl",
    "i18n",
    "internationalization"
  ],
  "devDependencies": {
    "@release-it/conventional-changelog": "^3.3.0",
    "@types/jest": "^27.0.1",
    "@typescript-eslint/eslint-plugin": "^4.29.3",
    "@typescript-eslint/parser": "^4.29.3",
    "dotenv-cli": "^4.0.0",
    "eslint": "^7.32.0",
    "eslint-config-prettier": "^8.3.0",
    "eslint-plugin-jest": "^24.4.0",
    "jest": "^27.1.0",
    "prettier": "2.3.2",
    "release-it": "^14.11.5",
    "ts-jest": "^27.0.5",
    "ts-node": "^10.2.1",
    "typescript": "^4.4.2"
  }
}

```

By the way, everything works (just did a release) but the problem is that it automatically picks the patch release without letting me choose!

The [@release-it/conventional-changelog](https://github.com/release-it/conventional-changelog) plugin automatically provide the recommended bump. See https://github.com/release-it/conventional-changelog#ignorerecommendedbump to disable this.